 <div class="col-md-8">
     <h1>{{user.name}}</h1>
     <h2>Account Number : {{user.accountNumb_User}}</h2>
     <h3>Bank : {{user.bankName}}</h3>
     <h4>Branch : {{user.branchName}}</h4>
     <h4>Amount : {{user.amount}}</h4>
   </div>